/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Color Palette
Russian Violet = 320E3B
Thulian Pink = E56399 
Vista Blue = 7F96FF
Light Blue = A6CFD5
Light Cyan = DBFCFF
*/

body {
  background-color: purple;
  background-image: linear-Gradient(to bottom right, #320E3B, #E56399);
  background-attachment: fixed;
}

button {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background-color: #7F96FF;
  border-radius: 10px;
  border-color: #A6CFD5;
  color: #DBFCFF;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#results {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #7F96FF;
  border-radius: 10px;
  border-color: #A6CFD5;
  color: #DBFCFF;
  margin: 10px;
  padding: 10px;
  text-align: center;
  height: 70%;
  width: 20%;
}

img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  display: block;
  max-width: 100%;
}