@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
body {
  background: #f2d06b;
  margin: 0;
  font-family: 'Poppins';
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.navbar .teabag-container {
  -webkit-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
  background: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
  left: 20px;
  height: 110px;
  width: 115px;
}

.navbar .teabag-container .teabag-front {
  width: 120px;
  height: 125px;
  background: white;
  z-index: 5;
  border-radius: .2em;
}

.navbar .teabag-container .teabag-side {
  width: 0;
  height: 0;
  border-right: 26px solid transparent;
  border-bottom: 120px solid #ebe3e3;
  position: relative;
  top: -120px;
  left: 66px;
  bottom: 0px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  z-index: 2;
  border-radius: 5em;
}

.navbar .teabag-container .teabag-top-back {
  border-bottom: 30px solid #ebe3e3;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 70px;
  position: relative;
  top: -270px;
  border-radius: .2em;
}

.navbar .teabag-container .teabag-top-front {
  border-top: 30px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 22px;
  position: relative;
  border-radius: .2em;
}

.navbar .teabag-container .staple {
  border: 2px solid #636363;
  position: relative;
  top: -115px;
  z-index: 7;
  border-radius: 1em;
}

.navbar .teabag-container .teabag-string {
  height: 100px;
  border-left: 2px solid black;
  position: relative;
  top: -90px;
  left: 10px;
  z-index: 6;
  border-radius: .2em;
}

.navbar {
  background-image: url(../images/MajesticAutumnForestAndClouds.jpg);
  background-size: 100%;
  background-position-y: 80%;
  padding: 1em;
}

.navbar .logo {
  font-family: 'Style Script', cursive;
  text-decoration: none;
  font-weight: bold;
  color: #D9525E;
  font-size: 2.4em;
  text-shadow: 1px 1px 0px black;
  padding: .5em .5em;
  margin: auto;
  text-align: left;
  line-height: .8em;
  display: block;
}

.navbar .logo span {
  color: #f2d06b;
}

.navbar nav {
  display: none;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


section {
  padding: 5em 2em;
}

.left-col .primary-cta {
  background: #4B4973;
  color: #F2784B;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: .5em;
  font-weight: bold;
  display: inline-block;
  border: 3px solid #4B4973;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #4B4973;
  height: 100vh;
  padding: 1em;
}



nav li a {
  color: #D9525E;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
}

nav li a:hover {
  font-weight: normal;
}

nav li.call-now a {
  background-color: #8C455F;
  color: #D9525E;
  border-radius: 1em;
  width: 100%;
  float: right;
  text-align: center;
}

nav li.call-now a:hover {
  background-color: #D9525E;
  color: #8C455F;
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

footer {
  background: url("../images/BlueHourSunsetAndMountains.jpg");
  background-color: black;
  background-size: 100%;
  background-position-y: 100%;
  color: whitesmoke;
  color: #D9525E;
  height: 7rem;
  text-align-last: center;
  text-shadow: 1px 1px 0px #333;
  padding: 1em;
}

@media only screen and (min-width: 960px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -ms-grid-rows: 70px;
        grid-template-rows: 70px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  @-webkit-keyframes swinging {
    0% {
      -webkit-transform: rotate(10deg);
    }
    50% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
    }
  }
  @keyframes swinging {
    0% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    50% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
  .navbar .teabag-container {
    -webkit-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
    background: black;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30px;
    left: 10px;
    height: 110px;
    width: 115px;
  }
  .navbar .teabag-container .teabag-front {
    width: 120px;
    height: 125px;
    background: white;
    z-index: 5;
    border-radius: .2em;
  }
  .navbar .teabag-container .teabag-side {
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-bottom: 120px solid #ebe3e3;
    position: relative;
    top: -120px;
    left: 66px;
    bottom: 0px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    z-index: 2;
    border-radius: 5em;
  }
  .navbar .teabag-container .teabag-top-back {
    border-bottom: 30px solid #ebe3e3;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 70px;
    position: relative;
    top: -270px;
    border-radius: .2em;
  }
  .navbar .teabag-container .teabag-top-front {
    border-top: 30px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 22px;
    position: relative;
    border-radius: .2em;
  }
  .navbar .teabag-container .staple {
    border: 2px solid #636363;
    position: relative;
    top: -115px;
    z-index: 7;
    border-radius: 1em;
  }
  .navbar .teabag-container .teabag-string {
    height: 100px;
    border-left: 2px solid black;
    position: relative;
    top: -90px;
    left: 10px;
    z-index: 6;
    border-radius: .2em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: 4em;
    width: 100%;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2d06b;
    border-radius: 1em;
  }
  .navbar nav a {
    color: #D9525E;
    font-size: 1.5em;
    padding: .5em;
    text-shadow: 1px 1px 0px black;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: normal;
  }
  .navbar nav li.call-now a {
    color: #F2784B;
    background-color: #4B4973;
    border: 3px solid #4B4973;
    font-weight: bold;
    border-radius: .5em;
    width: 85%;
  }
  .navbar nav li.call-now a:hover {
    background: #F2784B;
    color: #4B4973;
  }
  p {
    text-indent: 2em;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 1em auto;
  }
  section {
    padding: 2em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: justify;
    margin-top: 1em;
  }
  .hero .container .left-col {
    margin: 1em 1em 1em 5em;
    width: 50%;
  }
  .hero-img {
    width: 40%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
 
}

/*# sourceMappingURL=main.css.map */